.process-node-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
    background-color: #272727;
}

.destination-title {
    color: #fff;
    line-height: 1;
}

.process-node-destination img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  aspect-ratio: 16 / 9;
}

.process-node-destination__file-info {
    color: #fff;
    font-size: 0.9em;
    margin: 10px 0;
}

.process-node-destination .file-info__label {
    margin-right: 4px;
}

.process-node-destination__link {
    background-color: #2092ef;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.process-node-destination__link + .process-node-destination__link {
    margin-left: 8px;
}

button.process-node-destination__link,
.process-node-destination__link button {
    border: none;
}